.bio
  %p Born in Florence, Italy, 1980. Lives and works in Tokyo.
  %p &nbsp;
  %p
    %strong solo exhibition
  %p.year 2013
  %p "APPUNTI DI VIAGGIO PER UNA SEMIOSI DEL PAESAGGIO-SISTEMA" - Sincresis Artist Residency Program (Florence) curated by Alessandra Scappini

  %p.year 2011
  %p
    MARCO MAZZI, "KIJU YOSHIDA AND A VISION OF FEAR",
    %strong Shizuoka University of Art and Culture (Hamamatsu, Japan)
    \.
  %p.year 2009
  %p
    SEEING AND KNOWING: THE NATURALIZATION OF VISION, curated by Lorenzo Carlucci,
    = succeed "," do
      %strong Museo Laboratorio Arte Contemporanea (MLAC)
    Rome
  %p.year 2008
  %p
    VOYAGER, film projection and discussion with Gozo Yoshimasu, curated by Koichi Watari,
    = succeed "," do
      %strong The Watari Museum of Contemporary Art
    Tokyo
  %p.year 2007
  %p
    TOTEM AND TABOO
    %em ,
    curated by Hideyuki Doi,
    %strong Tokyo University Museum of Komaba
    %em ,
    Tokyo
  %p
    MARCO MAZZI/ALESSANDRO PIANGIAMORE, curated by Gaia Pasi,
    = succeed "," do
      %strong Daniele Ugolini Contemporary
    Firenze
  %p.year 2006
  %p
    PORTRAITS AND INTIMACY
    %em> ,
    curated by Sergio Risaliti,
    = succeed "," do
      %strong Villa Rondinelli
    Firenze
  %p &nbsp;
  %p
    %strong group exhibition
  %p.year 2010
  %p
    IL MEDIUM DISPERSO, curated by Eleonora Farina, Gabriele Gaspari, Michela Gulia,
    = succeed "," do
      %strong Museo Laboratorio Arte Contemporanea (MLAC)
    Roma
  %p.year 2007
  %p
    %strong> Artissima 14
    \: Galleria Daniele Ugolini, Torino
  %p
    GOODMORNINGBABILONIA, curated by Sergio Risaliti,
    = succeed "," do
      %strong Galleria Marella
    798 Art District, Beijing
  %p
    FABBRICA EUROPA LESSICO EUROPEO, curated by Pietro Gaglian&ograve; and Gaia Pasi,
    = succeed "," do
      %strong Stazione Leopolda
    Firenze
  %p QUARTER APARTMENT, curateded by Francesca Referza, Teramo
  %p
    NONPLUSULTRA, curated by Gaia Pasi,
    %em
    = succeed "," do
      %strong Galleria Ugolini
    Firenze
  %p &nbsp;
  %p
    %strong publication
  %p.year 2007
  %p MARCO MAZZI, curated by Gaia Pasi, text by Lorenzo Carlucci, Gli Ori, Prato